/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
chatter.log
pids
php_errors.log
phpunit.result.cache
auth.json
.phpunit.cache
.vscode
.idea
.DS_Store
